In [17]:
import pandas as pd

# Replace 'column_7_name' and 'column_9_name' with the actual names from your CSV file
dtype_dict = {
    'column_7_name': 'object',  # or 'str'
    'column_9_name': 'object'   # or 'str'
}

# Load each dataset separately with specified encoding, low_memory=False, and specified dtypes
df_2012 = pd.read_csv('2012_Data.csv', encoding='ISO-8859-1', low_memory=False, dtype=dtype_dict)
df_2013 = pd.read_csv('2013_Data.csv', encoding='ISO-8859-1', low_memory=False, dtype=dtype_dict)

# Check the first few rows to confirm the data is loaded correctly
print("2012 Data:")
print(df_2012.head())

print("\n2013 Data:")
print(df_2013.head())

2012 Data:
   accounting_date  fiscal_year  fiscal_month  calendar_year  calendar_month  \
0         20120509         2012            11           2012               5
1         20120216         2012             8           2012               2
2         20120509         2012            11           2012               5
3         20120518         2012            11           2012               5
4         20120109         2012             7           2012               1

   calendar_day  company_code customer_code  customer_district_code  \
0             9           101     411800601                     410
1            16           101     361000403                     300
2             9           101     361000403                     300
3            18           101     565540415                     500
4             9           101     565540415                     500

                        item_code  ... value_quantity value_price_adjustment  \
0  GENIE8WWWBC                     ...           84.0                      0
1  GENIE8WWWBC                     ...           12.0                      0
2  GENIE8WWWBC                     ...           12.0                      0
3  GENIE8WWWBC                     ...            6.0                      0
4  GENIE8WWWBC                     ...            6.0                      0

  currency  item_source_class invoice_number line_number invoice_date  \
0      AUD                NaN        2217887           1     20120509
1      AUD                NaN        2185745           1     20120216
2      AUD                NaN        2217807           1     20120509
3      AUD                NaN        2222758           1     20120518
4      AUD                NaN        2170374           1     20120109

  customer_order_number order_date dss_update_time
0               2865354   20120509         49:58.7
1               2833515   20120216         49:58.7
2               2864857   20120508         49:58.7
3               2869759   20120518         49:58.7
4               2819189   20120109         49:58.7

[5 rows x 41 columns]

2013 Data:
   accounting_date  fiscal_year  fiscal_month  calendar_year  calendar_month  \
0         20130125         2013             7           2013               1
1         20130513         2013            11           2013               5
2         20130611         2013            12           2013               6
3         20130111         2013             7           2013               1
4         20130321         2013             9           2013               3

   calendar_day  company_code customer_code  customer_district_code item_code  \
0            25           205     471150112                     400     10311
1            13           205     277000801                     200     10311
2            11           205     292314701                     200     10350
3            11           205     299480703                     200     10350
4            21           205     471150015                     400     10364

   ... value_quantity value_price_adjustment currency  item_source_class  \
0  ...           -1.0                      0      AUD                NaN
1  ...            1.0                      0      AUD                NaN
2  ...            2.0                      0      AUD                NaN
3  ...            1.0                      0      AUD                NaN
4  ...            6.0                      0      AUD                NaN

  invoice_number line_number invoice_date customer_order_number order_date  \
0         277995           0     20130125                277995   20130125
1         749295           0     20130513                867468   20130510
2         756507           0     20130611                880839   20130611
3         724149           0     20130111                821554   20130111
4         738377           0     20130321                847171   20130320

  dss_update_time
0         49:58.7
1         49:58.7
2         49:58.7
3         49:58.7
4         49:58.7

[5 rows x 41 columns]

In [23]:
#Sales vs. Cost Analysis
#2012

correlation_df2012 = df_2012.groupby(['order_type_code','reporting_classification'])[['value_sales','value_cost']].corr().iloc[0::2,-1].reset_index()
print("Correlation between Sales and Cost by Order Type and Classification in 2012:")
print(correlation_df2012)

Correlation between Sales and Cost by Order Type and Classification in 2012:
   order_type_code reporting_classification      level_2  value_cost
0              5TN               Continuing  value_sales    0.952148
1              AES               Continuing  value_sales    0.943934
2              AES            Discontinuing  value_sales    0.975855
3              CDG               Continuing  value_sales    0.945039
4              CDG            Discontinuing  value_sales    0.988521
..             ...                      ...          ...         ...
63             ZCR               Continuing  value_sales         NaN
64             ZCR            Discontinuing  value_sales         NaN
65             ZD3            Discontinuing  value_sales         NaN
66             ZOP               Continuing  value_sales         NaN
67             ZOP            Discontinuing  value_sales         NaN

[68 rows x 4 columns]

In [25]:
#2013

correlation_df2013 = df_2013.groupby(['order_type_code','reporting_classification'])[['value_sales','value_cost']].corr().iloc[0::2,-1].reset_index()
print("Correlation between Sales and Cost by Order Type and Classification in 2013:")
print(correlation_df2013)

Correlation between Sales and Cost by Order Type and Classification in 2013:
   order_type_code reporting_classification      level_2  value_cost
0              5TN               Continuing  value_sales    0.912849
1              AES               Continuing  value_sales    0.980531
2              AES            Discontinuing  value_sales    0.968126
3              CDG               Continuing  value_sales    0.948811
4              CDG            Discontinuing  value_sales    0.926019
..             ...                      ...          ...         ...
56             WDC            Discontinuing  value_sales   -0.518148
57             ZCG               Continuing  value_sales    0.982939
58             ZCG            Discontinuing  value_sales    0.977062
59             ZCR               Continuing  value_sales         NaN
60             ZCR            Discontinuing  value_sales         NaN

[61 rows x 4 columns]

In [33]:
#Impact of price adjustments

#2012
avg_price_adjustment2012 = df_2012.groupby('reporting_classification')['value_price_adjustment'].mean()
print("\nAverage Price Adjustment by Reporting Classification in 2012:")
print(avg_price_adjustment2012)

Average Price Adjustment by Reporting Classification in 2012:
reporting_classification
Continuing       0.021770
Discontinuing    0.027338
Name: value_price_adjustment, dtype: float64

In [35]:
#2013

ave_price_adjustment2013 = df_2013.groupby('reporting_classification')['value_price_adjustment'].mean()
print("\nAverage Price Adjustment by Reporting Classification in 2013:")
print(ave_price_adjustment2013)

Average Price Adjustment by Reporting Classification in 2013:
reporting_classification
Continuing       0.020191
Discontinuing    0.024051
Name: value_price_adjustment, dtype: float64

In [41]:
#Order Quantity and Profit Analysis
#2012
df_2012['profit_per_unit'] = (df_2012['value_sales'] - df_2012['value_cost']) / df_2012['value_quantity']

avg_profit_per_type2012 = df_2012.groupby('order_type_code')['profit_per_unit'].mean()
print("\nAverage Profit per Unit by Order Type Code in 2012:")
print(avg_profit_per_type2012)

Average Profit per Unit by Order Type Code in 2012:
order_type_code
5TN    2668.259864
AES      95.284315
CDG      11.165054
COA      32.965838
COP            inf
CPR      70.870798
CRD            NaN
CRP           -inf
CRR      27.095666
CSH      27.176349
CSO      15.040000
EDI      20.607195
EDS      17.201745
EXP      11.325392
MIN      31.931507
NOH       9.831040
NOR      14.942174
NOS      55.699429
OBS      42.955778
PGS     497.735385
PM0      58.485925
PMO      92.254397
PPD      89.345212
PPO      41.869378
PRD     113.895294
PRO      94.470198
PSA      65.341889
PUP      37.225841
SPC     122.056194
SPL     622.095357
WDC      45.551802
ZC2           -inf
ZCG      28.354962
ZCR           -inf
ZD3       2.733300
ZOP            inf
Name: profit_per_unit, dtype: float64

In [43]:
#2013

df_2013['profit_per_unit'] = (df_2013['value_sales'] - df_2013['value_cost']) / df_2013['value_quantity']
avg_profit_per_type2013 = df_2013.groupby('order_type_code')['profit_per_unit'].mean()
print("\nAverage Profit per Unit by Order Type Code in 2013:")
print(avg_profit_per_type2013)

Average Profit per Unit by Order Type Code in 2013:
order_type_code
5TN    2174.579389
AES     213.401262
CDG      10.616860
COA      29.654342
COP            inf
CPR      94.892018
CRD            NaN
CRP           -inf
CRR      23.136702
CSH      44.670884
CSO      57.410000
EDI      17.175454
EDS       8.333079
EXP      28.747873
MIN      33.695438
NOH       9.968098
NOR      16.240132
NOS      41.682140
OBS       4.409550
PME      75.423508
PMO     130.962620
PPD     159.118700
PPO      39.452535
PRD      92.900954
PRO      87.294955
PSA      68.233396
PUP      29.980168
SPC     136.763019
SPL     447.273077
WDC     -65.172000
ZCG      25.067692
ZCR           -inf
Name: profit_per_unit, dtype: float64

In [47]:
#Columns with Negative values

#2012
columns_to_check = ["value_sales","value_cost","value_quantity","value_price_adjustment"]

negative_values = {}
for col in columns_to_check:
    if df_2012[col].dtype in ['int64','float64']:
        neg_count = (df_2012[col]<0).sum()
        if neg_count > 0:
            negative_values[col] = neg_count

if negative_values:
    print("Columns with negative vales in 2012 dataset:")
    for col,count in negative_values.items():
        print(f"{col}: {count} negative values")
else:
    print("No columns with negative values found in the 2012 dataset.")

Columns with negative vales in 2012 dataset:
value_sales: 60526 negative values
value_cost: 34606 negative values
value_quantity: 34621 negative values

In [63]:
# Filter dataset for rows where values are negative
neg_values_df = df_2012[(df_2012['value_sales'] < 0) & (df_2012['value_cost'] < 0) & (df_2012['value_quantity'] < 0)]

# Calculate correlation between the negative columns
neg_corr = neg_values_df[['value_sales', 'value_cost', 'value_quantity']].corr()
print("Correlation between Negative Sales, Cost, and Quantity:")
print(neg_corr)

Correlation between Negative Sales, Cost, and Quantity:
                value_sales  value_cost  value_quantity
value_sales        1.000000    0.536703        0.167695
value_cost         0.536703    1.000000        0.290157
value_quantity     0.167695    0.290157        1.000000

In [79]:
#Columns with Negative values

#2013
columns_to_check = ["value_sales","value_cost","value_quantity","value_price_adjustment"]

negative_values = {}
for col in columns_to_check:
    if df_2013[col].dtype in ['int64','float64']:
        neg_count = (df_2013[col]<0).sum()
        if neg_count > 0:
            negative_values[col] = neg_count

if negative_values:
    print("Columns with negative vales in 2012 dataset:")
    for col,count in negative_values.items():
        print(f"{col}: {count} negative values")
else:
    print("No columns with negative values found in the 2013 dataset.")

Columns with negative vales in 2012 dataset:
value_sales: 53011 negative values
value_cost: 32341 negative values
value_quantity: 32354 negative values

In [83]:
# Filter dataset for rows where values are negative
neg_values_df = df_2013[(df_2013['value_sales'] < 0) & (df_2013['value_cost'] < 0) & (df_2013['value_quantity'] < 0)]

# Calculate correlation between the negative columns
neg_corr = neg_values_df[['value_sales', 'value_cost', 'value_quantity']].corr()
print("Correlation between Negative Sales, Cost, and Quantity:")
print(neg_corr)

Correlation between Negative Sales, Cost, and Quantity:
                value_sales  value_cost  value_quantity
value_sales        1.000000    0.932890        0.242594
value_cost         0.932890    1.000000        0.276047
value_quantity     0.242594    0.276047        1.000000